body {
    font-family: Arial, Helvetica, sans-serif;
   /* color: whitesmoke;*/
}

.player {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.track-art {
    margin: 45px;
    height: 250px;
    width: 250px;
    border: 2px solid #FFFF;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 6px 5px #ccc;
    background-image: url(/image/stay.png);
}   

.now-playing {
    margin-top: 5px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.track-name {
    font-size: 2.5rem;
}

.track-artist {
    margin-top: 5px;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.active {
    color: black;
}

.repeat-track,
.random-track,
.playpause-track,
.next-track,
.prev-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.stop {
    display: none;
}
.stop.active {
    display: block;
    transition: all .2s;
}

.play.hidden {
    display: none;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.next-track:hover,
.prev-track:hover {
    opacity: 1.0;
}

.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seek_slider,
.volume_slider {
    appearance: none;
    height: 5px;
    background: #83a9ff;
    transition: opacity .2s;
}

.seek_slider:hover,
.volume_slider:hover {
    opacity: 1.0;
}

.seek_slider {
    width: 60%;
}

.volume_slider {
    width: 30%;
}

.current-time,
.total-duration {
    padding: 10px;
}

.loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .loader .stroke {
      background: #f1f1f1;
      height: 150%;
      width: 10px;
      border-radius: 50px;
      margin: 0 5px;
      animation: animate 1.4s linear infinite;
  }

.random-active{
    color: black;
}
.rotate {
    animation: rotation 8s infinite linear;
}

.left,
.play,
.random,
.restart,
.right,
.stop {
    cursor: pointer;
}
@keyframes animate {
    50% {
      height: 20%;
      background: #4286f4;
    }

    100% {
      background: #4286f4;
      height: 100%;
    }
  }
  .stroke:nth-child(1){
      animation-delay: 0s;
  }
  .stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}
